{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/successsalesgenerator/css/sales_generator.css') }}" />
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Sales generator</h1>
        </div>


        <div class="panel panel-primary question">
            <div class="panel-heading">
              <h3 class="panel-title">Вопрос №{{ question.id }}</h3>
            </div>
            <div class="panel-body">
              <h6>
                  <p>{{ question.text }}</p>
              </h6>
            </div>
        </div>
        
        <div class="container">
        {% for key, answer in question.answers %}
            {% set answerIndex = key + 1 %}
            <div class="panel panel-info answer">
                <div class="panel-heading">
                  <h3 class="panel-title">Ответ №{{ answerIndex }}</h3>
                </div>
                <div class="panel-body">
                  <h6>
                      <a href="{{ path('sales_generator', {'question_id' : question.id ~ answerIndex}) }}" class="new-question">{{ answer.text }}</a>
                  </h6>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/successsalesgenerator/js/sales_generator.js') }}"></script>
    {% endblock javascripts %}
{% endblock content %}