{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/jquery.countdown.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/4success.style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/bootstrap.min.css') }}" />

{% endblock %}

{% block body %}
    <div>        
        <table class="event-table">
            <tr>
                <td colspan="5" class="center-cell"><h2>{{ event.name }}</h2></td>
            </tr>

            <tr>
                <td colspan="5" class="center-cell">{% media event.media, 'small' %}</td>
            </tr>
{#            <tr>
                <td class="right-cell">Event name: </td>
                <td class="left-cell">{{ event.name }}</td>
            </tr>
#}            <tr>
                <td colspan="5" class="center-cell">Event Time: <br>{{ event.startDateTime|date('d.m.Y H:i') }}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="center-cell">Time to start: 
                    <div id='timer'></div>
                </td>
            </tr>
    
            <tr>
                <td colspan="5" class="center-cell">        
                {% if allowVisitEvent %}                    
                        <a class="btn btn-success btn-lg" href="{{ event.url }}" target="blank">Войти в Вебинар</a>
                {% else %}                        
                        <a type="button" class="sign-btn btn btn-primary btn-lg" href="http://www.mail.ru" >Записаться</a>
                {% endif %}
               </td>
            </tr>
        </table>
    </div>    
    
    
{% endblock %}

{% block javascripts %}    
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/jquery.countdown.js') }}"></script>
    <script type="text/javascript">        
        startDateTime ="{{ event.startDateTime|date('Y/m/d H:i:s') }}";
                
        $("#timer").countdown(startDateTime, function(event) {
            {% if date(event.startDateTime) < date() %}
                $(this).text('Прошлое событие');
            {% else %}    
                $(this).text(
                    event.strftime('%D days %H:%M:%S')
                );
            {% endif %}
        });
    </script>    
{% endblock %}