{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/4success.style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/jquery.countdownTimer.css') }}" />
{% endblock %}

{% block title %}Nearest Events Calendar{% endblock %}


{% block body %}
    <div class="modal fade" id="calendar-modal-event" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
    </div>    
{#        <div class="container">#}
            <div id="main-row" class="row" >
                <div class="col-xs-12">
                    {{ render_esi( path('next_event') ) }}
{#                    <div class="well jumbotron" id="nearest-event">
                        <div class="row">
                            {% if nearest is null %}
                                <h3>нет ближайших мероприятий</h3>
                            {% else %}    
                                <div  class="col-xs-6">                                
                                <h3>Ближайшее мероприятие</h3>
                                <h5>Название меропиятия: </h5>
                                <h2>{{ nearest.name }}</h2>
                                <p class='event-sub'>{{ nearest.pattern }}</p>
                                <p class='event-sub'>{{ nearest.accessType }}</p>
                                
                                <h5>До начала осталось: </h5>
                                <h1><span id='timer'></span></h1>
                                
                                <div id="countdowntimer"><span id="future_date"><span></div>
                                
                                <h5>Тема:</h5>
                                <p>{{ nearest.description }}</p>                                
                                    <div>
                                        {% if allowToVisit %}
                                            <a id="webinar-enter-btn" href="{{ externalLink }}" class="btn btn-lg btn-danger" role="button" target="blank">Войти в Вебинар</a>
                                            <a href="{{ path('calendar_event_signup', {'eventId' : nearest.id, 'template': 'calendar'}) }}" class="modal-btn btn btn-lg btn-danger" role="button" data-toggle="modal" data-target="#calendar-modal-event">Записаться</a>
                                        {% else %}
                                            <a id="webinar-enter-btn" href="{{ externalLink }}" class="btn btn-lg btn-danger disabled" role="button" target="blank">Войти в Вебинар</a>
                                            <a href="{{ path('calendar_event_signup', {'eventId' : nearest.id, 'template': 'calendar'}) }}" class="modal-btn btn btn-lg btn-danger" role="button" data-toggle="modal" data-target="#calendar-modal-event">Записаться</a>
                                        {% endif %}
                                    </div>
                                </div>
                            <div class="col-xs-6 centered" style='text-align: center'>
                                {% media nearest.media, 'large' %}
                            </div>
                        {% endif %}
                        </div>
                    </div>#}
                </div>
            </div>

            <div id="main-row" class="row">
                <div class="col-xs-6">
                    {{ render_esi( path('day_events') ) }}
{#                    <h4>Мероприятия сегодня ({{(eventsToday.events|length)}})</h4>                    
                    <h4>{{ eventsToday.date|date('l')|trans }}: {{ eventsToday.date|date('d.m.Y') }}</h4>
                        {% for event in eventsToday.events %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">                                        
                                            <h3>{{ event.name }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">

                                                <p class="event-descr">
                                                    {% media event.media, 'small' %}
                                                    {{ event.description }}                                                    
                                                </p>
                                            </div>    
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <p class='event-sub'><h5>{{ event.pattern }}</h5>
                                                    <h5>доступ: {{ event.accessType }}</h5>
                                                </p>
                                                
                                                <h5>время проведения: </h5>
                                                <h2>{{ event.startDateTime|date('H:i') }}<span class='time-zone'>(МСК)</span></h2>
                                            </div>
                                            <div class="col-xs-5 vbottom">
                                                <div class='event-signup'>                                                    
                                                    <a href="{{ path('calendar_event_signup', {'eventId' : event.id, 'template': 'calendar'}) }}" class="modal-btn btn btn-lg btn-danger" role="button" data-toggle="modal" data-target="#calendar-modal-event">Записаться</a>
                                                </div>                                                
                                            </div>                                        
                                            </div>
                                        </div>
                                    </div>                        
                        {% endfor %}
#}                </div>
                    
                        {#{% set daysCount = eventsOfWeek|length-1 %}#}
                <div class="col-xs-6">
                    {{ render_esi( path('week_events') ) }}
{#                    <h4>Мероприятия недели ({{ weekEventsCount }})</h4>
                        {% for i in 0..daysCount %}
                            {% if eventsOfWeek[i].events|length>0 %}
                                <h4>{{ eventsOfWeek[i].date|date('l')|trans }}: {{ eventsOfWeek[i].date|date('d.m.Y') }}</h4>
                                    {% for event in eventsOfWeek[i].events %}
                                        <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3>{{ event.name }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="event-descr">
                                                    {% media event.media, 'small' %}
                                                    {{ event.description }}
                                                </p>
                                            </div>
                                        </div>
                                                
                                        <div class="row">                                                
                                        <div class="col-xs-7">
                                                <p class='event-sub'><h5>{{ event.pattern }}</h5>
                                                    <h5>доступ: {{ event.accessType }}</h5>
                                                </p>                                            
                                                <h5 class="time-event-label">время проведения:</h5>
                                                <h2 class="event-time">{{ event.startDateTime|date('H:i') }}<span class='time-zone'>(МСК)</span></h2>                                        
                                        </div>
                                        
                                        <div class="col-xs-5 vbottom">
                                                <div class="event-signup">
                                                    <a href="{{ path('calendar_event_signup', {'eventId' : event.id, 'template': 'calendar'}) }}" class="modal-btn btn btn-lg btn-danger" role="button" data-toggle="modal" data-target="#calendar-modal-event">Записаться</a>
                                                </div>                                                                                                                                                                                    
                                        </div>

                                        </div>                                                                                            
                                    </div>
                                        </div>                                                                    
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}
#}                </div>
        </div>
{#    </div>        #}
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/jquery.countdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/jquery.countdownTimer.js') }}"></script>
    
    <script type="text/javascript">
{#        {% if nextEvent is null %}
        {% else %}                                    
            $(function(){
              $('#future_date').countdowntimer({                  
                dateAndTime : "{{ nextEvent.startDateTime|date('Y/m/d H:i:s') }}",
                startDate : "{{ currentDateTime|date('Y/m/d H:i:s') }}",
                timeUp : timeisUp,
                size : "lg"
              });              
                function timeisUp() {
                    $('#webinar-enter-btn').removeClass('disabled');
                    $('#future_date').text('Уже идет');
                }                            
            });
        {% endif %}#}

      $('body').on('hidden.bs.modal', '.modal', function () {
        $('#modal-content').empty();
      });
      
      $('body').on('click','.modal-btn',function(){

        // scrolling feature
        var eventsIframe = document.getElementById('events-calendar');        
     
        parent.postMessage("scroll_up", "*");
        //$("html, body").animate({ scrollTop: 0 }, "slow");        
        link = $(this).attr('href');
        $('#modal-content').load(
            link,
            function(response, status, xhr) {
            if (status === 'error') {
                $('#modal-content').html('<h2>Whoops!</h2><p>Sorry, but there was an error:' + xhr.status + ' ' + xhr.statusText+ '</p>');                
                }
            return this;
            }
          );
      });
    </script> 

    
{% endblock %}


