                    {% set daysCount = eventsOfWeek|length-1 %}
                    <h4>Мероприятия недели ({{ weekEventsCount }})</h4>
                        {% for i in 0..daysCount %}
                            {% if eventsOfWeek[i].events|length>0 %}
                                <h4>{{ eventsOfWeek[i].date|date('l')|trans }}: {{ eventsOfWeek[i].date|date('d.m.Y') }}</h4>
                                    {% for event in eventsOfWeek[i].events %}
                                        <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3>{{ event.name }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="event-descr">
                                                    {% media event.media, 'small' %}
                                                    {{ event.description }}
                                                </p>
                                            </div>
                                        </div>
                                                
                                        <div class="row">                                                
                                        <div class="col-xs-7">
                                                <p class='event-sub'><h5>{{ event.pattern }}</h5>
                                                    <h5>доступ: {{ event.accessType }}</h5>
                                                </p>                                            
                                                <h5 class="time-event-label">время проведения:</h5>
                                                <h2 class="event-time">{{ event.startDateTime|date('H:i') }}<span class='time-zone'>(МСК)</span></h2>                                        
                                        </div>
                                        
                                        <div class="col-xs-5 vbottom">
                                                <div class="event-signup">
                                                    <a href="{{ path('calendar_event_signup', {'eventId' : event.id, 'template': 'calendar'}) }}" class="modal-btn btn btn-lg btn-danger" role="button" data-toggle="modal" data-target="#calendar-modal-event">Записаться</a>
                                                </div>                                                                                                                                                                                    
                                        </div>

                                        </div>                                                                                            
                                    </div>
                                        </div>                                                                    
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}
