{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    
    <div class="modal fade" id="profile-modal-content" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>

<div id="showModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Мои оплаты</h4>
        </div>
        <div class="modal-body" style="max-height:550px; overflow: auto;">
            <table class="table table-hover table-striped" >
                <thead>
                    <tr>
                        <th>Дата операции</th>
                        <th>Сума</th>
                        <th>Описание операции</th>
                    </tr>
                </thead>
                <tbody>
                {% for operation in accountOperations %}
                    <tr>
                        <td>{{operation.dateOperation |date()}}</td>
                        <td>{{operation.amount}}</td>
                        <td>{{operation.subAccount}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Закрыть</button>
        </div>
    </div>

   </div>
</div>       
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12 no-padding no-margin well jumbotron">
                <h2>{{ memberName(member) }}</h2>
                <h4>баланс: ${{ balance }}</h4>
                    <a id="refund-btn" class="btn btn-info" href="#">пополнить счет</a>
                    <a class="btn btn-info" role="button" href="#showModal" data-toggle="modal">история счета</a>

                    <h4>текущий тариф:
                    {% set memberPricingProduct = memberOwnedProduct(member) %}
                        <span class="{{ memberPricingProduct == null ? "label label-danger" : "label label-success" }}">
                            {{ memberPricingProduct == null ? "тариф не назначен" : memberPricingProduct.productPricing.productName }}
                        </span>
                    </h4>
                    <h4>сменить тариф</h4>
                    {% for productPricing in productPricings %}
                        <div class="col-md-1 center-block center center-cell">
                            <h4>
                                ${{ productPricing.productPrice }}
                            </h4>
                            {% if memberPricingProduct != null %}
                                {% if productPricing.id == memberPricingProduct.productPricing.id %}
                                    <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success disabled assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                                {% else %}
                                    <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                                {% endif %}    
                            {% else %}
                                <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
            <div class="col-md-12 no-padding no-margin well jumbotron">
                
                <h3>Моя команда</h3>
                    
                <h4>лидер: <strong>{{ memberName(member.sponsor) }}</strong></h4>                
                <h3>команда: </h3>
                <table class="table table-hover table-responsive" >
                    <tr>
                        <th>Поколение</th>
                        <th>Количество</th>
                        <th>Оплаченных</th>
                        <th>Таблица рефералов</th>
                    </tr>
                        {% for levelSummary in referalsSummary %}
                        <tr>
                            <td>{{ levelSummary.referalsLevel }}</td>
                            <td>{{ levelSummary.referalsCount }}</td>
                            <td>{{ referalsHasProductCount(member, levelSummary.referalsLevel) }}</td>
                            <td>
                                <a class="btn btn-xs btn-warning modal-btn" role="button" data-toggle="modal" data-target="#profile-modal-content" href="{{ path("member_profile_refs_table", {'level': levelSummary.referalsLevel }) }}">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    Просмотр
                                </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    <tr>
                        <th>Всего:</th>
                        <th>{{ referalsCount(member) }}</th>
                        <th>{{ referalsHasProductCount(member) }}</th>
                        <th></th>
                    </tr>
                </table>
            </div>    
        </div>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var id = $('.assign-pricing').data('id');
            $('.assign-pricing').on('click', function(id){
                assign($(this));
            });
            
            $('#refund-btn').on('click', function(){
                refund();
            });
            
            
        });
        function assign(id)
        {
            var postUrl ="{{ path('member_buy_product') }}";
            $.ajax({
                method: "POST",
                url: postUrl,
                data: { id: id.data('id') }
            })
                .fail(function(data) {
                    if(data.responseText === "0") {
                        alert('Недостаточно средств на счете');
                    }
                })
                .done(function(data) {
                    alert(data);
                    window.location.reload();
                })
        }
        
        function refund()
        {
            var postUrl = "{{ path('member_add_paymnet') }}";
            $.ajax({
                method: "POST",
                url: postUrl,
            })
                .fail(function(data) {
                    if(data.responseText === "0") {
                        alert('Ошибка при пополнении счета');
                    }
                })
                .done(function(data) {
                    alert(data);
                    window.location.reload();
                })
            
        }

    </script>
    
    <script type="text/javascript">
        $('body').on('hidden.bs.modal', '.modal', function () {
            $('#profile-modal-content').empty();
        });

        $('body').on('click', '.modal-btn', function () {
            link = $(this).attr('href');
            $('#profile-modal-content').load(
                    link,
                    function (response, status, xhr) {
                        if (status === 'error') {
                            $('#profile-modal-content').html('<h2>Whoops!</h2><p>Sorry, but there was an error:' + xhr.status + ' ' + xhr.statusText + '</p>');
                        }
                        return this;
                    }
            );
        });
    </script>    
    
    
{% endblock %}    