{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12 no-padding no-margin well jumbotron">
                <h2>{{ memberName(member) }}</h2>
                <h4>баланс: ${{ balance }}</h4>
                    <a class="btn btn-info" href="#">пополнить счет</a>
                    <a class="btn btn-info" href="#">мои оплаты</a>
                    <h4>текущий тариф:
                    {% set pricingProduct = memberOwnedProduct(member) %}
                        <span class="{{ pricingProduct == null ? "label label-danger" : "label label-success" }}">
                            {{ pricingProduct == null ? "тариф не назначен" : pricingProduct }}
                        </span>
                    </h4>                    
                    <h4>сменить тариф</h4>
                    {% for productPricing in productPricings %}
                        <div class="col-md-1 center-block center center-cell">
                            <h4>
                                ${{ productPricing.productPrice }}
                            </h4>
                            <a class="btn btn-success" href="#">{{ productPricing.productName }}</a>
                        </div>
                        {#{{ dump(productPricing) }}#}
                    {% endfor %}
            </div>
            <div class="col-md-12 no-padding no-margin well jumbotron">
                <h3>Моя команда</h3>
                <h4>лидер: <strong>{{ memberName(member.sponsor) }}</strong></h4>
                <h3>команда: </h3>
                <table class="table table-hover table-responsive" >
                    <tr>
                        <th>Партнер</th>
                        <th>Количество рефералов</th>
                    </tr>
                    {% for referal in referals %}
                        {% include 'SuccessMemberBundle:Member:partial/referal_table_row.html.twig' %}
                    {% endfor %}
                </table>
            </div>    
        </div>
    </div>    
{% endblock %}