{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
    
{#    <div class="modal fade" id="profile-modal-content" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                
            </div>
        </div>
    </div>    #}  
    
    
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12 no-padding no-margin well jumbotron">
                <h2>{{ memberName(member) }}</h2>
                <h4>баланс: ${{ balance }}</h4>
                    <a id="refund-btn" class="btn btn-info" href="#">пополнить счет</a>
                    <a class="btn btn-info" href="#">мои оплаты</a>
                    <h4>текущий тариф:
                    {% set memberPricingProduct = memberOwnedProduct(member) %}
                        <span class="{{ memberPricingProduct == null ? "label label-danger" : "label label-success" }}">
                            {{ memberPricingProduct == null ? "тариф не назначен" : memberPricingProduct.productPricing.productName }}
                        </span>
                    </h4>
                    <h4>сменить тариф</h4>
                    {% for productPricing in productPricings %}
                        <div class="col-md-1 center-block center center-cell">
                            <h4>
                                ${{ productPricing.productPrice }}
                            </h4>
                            {% if memberPricingProduct != null %}
                                {% if productPricing.id == memberPricingProduct.productPricing.id %}
                                    <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success disabled assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                                {% else %}
                                    <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                                {% endif %}    
                            {% else %}
                                <a id="pricing-id-{{ productPricing.id }}" class="btn btn-success assign-pricing" role="button" data-price="{{ productPricing.productPrice }}" data-id="{{ productPricing.id }}">{{ productPricing.productName }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
            <div class="col-md-12 no-padding no-margin well jumbotron">
                <h3>Моя команда</h3>
                <h4>лидер: <strong>{{ memberName(member.sponsor) }}</strong></h4>
                <h3>команда: </h3>
                <table class="table table-hover table-responsive" >
                    <tr>
                        <th>Партнер</th>
                        <th>Количество рефералов</th>
                    </tr>
                    {% for referal in referals %}
                        {% include 'SuccessMemberBundle:Member:partial/referal_table_row.html.twig' %}
                    {% endfor %}
                </table>
            </div>    
        </div>
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var id = $('.assign-pricing').data('id');
            $('.assign-pricing').on('click', function(id){
                assign($(this));
            });
            
            $('#refund-btn').on('click', function(){
                refund();
            });
            
            
        });
        function assign(id)
        {
            var postUrl ="{{ path('member_buy_product') }}";
            $.ajax({
                method: "POST",
                url: postUrl,
                data: { id: id.data('id') }
            })
                .fail(function(data) {
                    if(data.responseText === "0") {
                        alert('Недостаточно средств на счете');
                    }
                })
                .done(function(data) {
                    alert(data);
                    window.location.reload();
                })
        }
        
        function refund()
        {
            var postUrl = "{{ path('member_add_paymnet') }}";
            $.ajax({
                method: "POST",
                url: postUrl,
            })
                .fail(function(data) {
                    if(data.responseText === "0") {
                        alert('Ошибка при пополнении счета');
                    }
                })
                .done(function(data) {
                    alert(data);
                    window.location.reload();
                })
            
        }
    </script>
{% endblock %}    