{% extends sonata_block.templates.block_base %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/successsalesgenerator/css/style.min.css') }}" />
    <h3 class="box-title">{{ settings.title }}</h3>
    <div id="jstree"></div>
    <script type="text/javascript" src="{{ asset('bundles/successsalesgenerator/js/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/successsalesgenerator/js/tree_view.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#jstree').jstree({
                'core' : {
                    'check_callback': true,
                    'data' : [
                        { "id" : "rootNode", "parent" : "#", "text" : "Audiences", "state" : { "opened" : "true" } },
                        {% for audience in audiences %}
                            { "id" : "audience-{{ audience.id }}", "li_attr" : { "data-next" : {{ audience.firstQuestion.id }} }, "parent" : "rootNode", "text" : "{{ audience.name }}", "type":"audience" },
                        {% endfor %}
                    ],
                },
                "types" : {
                    "audience" : {
                        "icon" : "glyphicon glyphicon-tag"
                    },
                    "question" : {
                        "icon" : "glyphicon glyphicon-question-sign"
                    },
                    "answer"   : {
                        "icon" : "glyphicon glyphicon-ok-sign"
                    },
                    "default" : {
                        "icon" : "glyphicon glyphicon-list"
                    }
                },
                "contextmenu" : { 
                    "items" : contextMenu,
                    "select_node" : false,
                },
                "plugins" : [ "types", "contextmenu", "search" ]
            }); 
        });
    </script>
{% endblock block %}